<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Solis, Luna, Arts, Solis and Luna Art">
    <meta name="description" content="a non-profit charity for helping students express themselves">
    <title>Solis and Luna Arts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Kanit:wght@500&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto+Mono:wght@700&display=swap"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/Favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/Favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/Favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/revealingText.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400&family=Lato:wght@400&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/styles/banner.css">
    <link rel="stylesheet" href="/styles/admin/admin.css">
    <link rel="stylesheet" href="/styles/admin/editUsers.css">
    <link rel="stylesheet" href="/styles/sections.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid nav">
            <a class="navbar-brand" href="/">
                <img src="/images/solis.png" alt="" height="100">
            </a>
            <a class="nav-link nav-header">Solis and Luna Arts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/admin">Return to main site</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="panel">
        <div class="info">
            <h1>Add Event</h1>
            <input type="text" class="name" placeholder="Name">
            <textarea name="" id="" cols="30" rows="5" class="description" placeholder="Description"></textarea>
            <input type="text" class="date" placeholder="Date (MM/DD/YYYY)">
            <div class="dropdown">
                <button class="dropDownInput dropdown-toggle region-button" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Region
                </button>
                <div class="dropdown-menu dropDownInputMenu region-options" aria-labelledby="dropdownMenuButton">
                    <% regions.forEach((region) => { %>
                        <% if (region.expanded) { %>
                            <li class="dropdown-item">
                                <%=region.name%> &raquo;
                                <ul class="dropdown-menu dropdown-submenu dropdown-submenu-right r-subsection">
                                    <% region.regions.forEach((subsection) => { %>
                                        <li class="dropdown-item">
                                            <%=subsection%>
                                        </li>
                                    <% }) %>
                                </ul>
                            </li>
                        <% } else { %>
                            
                                <li class="dropdown-item">
                                    <%=region.name%>
                                </li>
                            
                        <% } %>
                    <%})%>
                </div>
            </div>
            <a class="submit">Submit</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="/scripts/revealingText.js"></script>
    <script src="/scripts/addEvent.js"></script>
</body>

</html>