body {
    background-color: #2d2d2d;
    padding: 0;
}

input, textarea, .messageButton {
    outline: none;
    width: 100%;
    font-size: 1.25rem;
    padding: 10px;
    border: none;
    padding-left: 20px;
    border-radius: 50px;
    margin-bottom: 20px;
}

textarea {
    border-radius: 25px !important;
    padding-top: 20px;
}

.message {
    padding: 20px 50px;
}

.names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.title {
    color:white;
    text-align: center;
    margin-bottom: 20px;
}

.messageButton {
    background-color: #f0f485;
    display: block;
    text-decoration: none;
    color:white !important;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.icons {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 100px;
}

.icons div {
    background-color: #616161;
}

.socials h1, .emails h1 {
    color:white;
    text-align: center;
    padding-top: 20px;
}

.message {
    padding: 50px 30%;
}

.socials {
    padding: 100px;
}

.images {
    margin-top: 50px;
    width: 40%;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.images img {
    width: 100%;
}

.images img:hover {
    cursor: pointer;
}

.emails {
    padding: 100px;
}

.emails h6 {
    color:white;
    font-size: 2rem;
}