.programs {
    padding: 40px 80px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    background-color: #29395b;
}


.program {
    background-color: white;
}

.program h1 {
    font-size: 4em;
    font-family: "kanit";
}

.works {
    background-color: #29395b;
    color: white;
    padding: 5%;
}

.works h1 {
    margin: 0;
}

.worksbox {
    width: 80%;
    border: #ffffff 2px solid;
    margin-left: 10%;
    padding: 5% 3%
}

.learn-more {
    display: block;
    background-color: #29395b;
    color: white;
    padding: 2% 4%;
    font-size: 1.9em;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
}

.program h4 {
    font-size: 1.5em;
    font-family: "Lato";
    padding: 5%;

}

.buttons {
    margin-top: 20px;
}

.buttons a {
    margin: 0 25px;
    text-align: center;
    border-radius: 20px;
    padding: 0 50px;
    font-size: 1.9em;
    color: white;
    text-decoration: none;
    background-color: #4b70ad;
    transition: all 0.2s;
}

.buttons a:hover {
    background-color: #243a5e;
}

.box h1 {
    font-size: 3em;
}

.emoji {
    font-size: 2vw;
    display: inline;
}

.img-small {
    display: none;
}

.program h1 {
    font-family: 'Ubuntu', sans-serif;
}

.box h2 {
    font-size: 5em;
}

.small-width {
    width: 60% !important;
    margin-left: 20% !important;
}

.welcome h1 {
    color: #29395b;
}

.team {
    color: white;
}

.review {
    color: #1A4480;
}

.reviews {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 50px;
    grid-gap: 30px;
}

.r {
    background-color: #f6da8b;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    margin-bottom: 30px;
}

.name {
    color: #fad783;
}

.impact {
    color: white;
}

.nums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #fad783;
}

.i {
    font-size: 2em;

}

.r h3 {
    font-size: 1em;
    margin-bottom: 20px;
}

.r h2 {
    font-size: 1em;
}

.columns {
    background-color: #27385b;
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8vw;
}

.column {
    background-color: white;
    height: 500px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    justify-content: space-around;
}

.column h5 {
    line-height: 150%;
    font-size: 1.4rem;
}

.columns a {
    background-color: #2f4e7e;
    color:white;
    text-decoration: none;
    width: 50%;
    margin-left: 25%;
    padding: 5% 2%;
}

@media only screen and (max-width: 1000px) {
    .programs {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 1000px) {
    .img-small {
        display: block;
    }

    .img-wide {
        display: none;
    }

    .picture .box {
        height: 40%;
        width: 50%;
        padding: 30%;
        left: 50%;
    }

    .box h1 {
        font-size: 6vw;
    }

    .worksbox {
        border: none;
    }

    .emoji {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 1000px) {
    .img-small {
        display: none;
    }

    .img-wide {
        display: block;
    }

    .picture .box {
        height: 60%;
        width: 30%;
    }
}

@media only screen and (max-width: 1674px) {
    .buttons a {
        display: block;
        margin: 20px 0px;
    }
}