body {
    max-width: 99vw !important;
}

.person {
    box-shadow: none !important;
    padding-top: 20px !important;
}

.image {
    border-radius: 20px;
}

.pfp {
    margin-bottom: 20px !important;
}

.persons {
    margin-bottom: 0 !important;
    margin:  0 50px !important;
    column-gap: 75px !important;
    color: white !important;
}

.ourteam {
    color:white;
}