body {
    max-width: 99vw !important;
}

.person {
    box-shadow: none !important;
    padding-top: 20px !important;
}

.image {
    border-radius: 20px;
}

.pfp {
    margin-bottom: 20px !important;
}

.items a {
    display: block;
    margin-top: 25px;
    width: 30%;
}

.book {
    background-color: #eec366 !important;
}

.book:hover {
    background-color: #b6903f !important;
}

.persons {
    margin-bottom: 0 !important;
    margin:  0 50px !important;
    column-gap: 75px !important;
    color: white !important;
}

.ourteam {
    color:white;
}