@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.persons {
    padding: 20px 2% 2% 2%;
    margin:  0 100px 0 100px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.person {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 2rem;
}

.person h5 {
    font-size: 1.5vw;
}

.person h6 {
    font-size: 1.3vw;
    font-family: "Courgette";
}

.person:hover {
    cursor: pointer;
}

.modal-body {
    padding: 2% 2%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.pfp {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 auto;
}

.profile {
    display: none;
    margin-top: 100px;
    padding: 50px;
}

.goback {
    background-color: white;
    font-size: 1.1rem;
    border: 1px solid #29395b;
    color: #29395b;
    padding: 10px 15px;
    grid-column-start: 1;
    width: 200px;
    grid-column-end: 3;
}

.darkenedNavbar {
    color: #4a4a4a !important;
}

.darkenedNavbar:hover, .darkenedNavbar:hover {
    color: black !important;
}

.individualProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 200px 0 200px;
    gap: 50px;
}

.information h1 {
    font-weight: bold;
    font-size: 3rem;
}

.information h5 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.5rem;
}

.individualProfile img {
    width: 100%;
    margin: auto;
}