.picture {
    position: relative;
}

.items {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.items a {
    font-size: 1.5em;
    background-color: #fdeba2;
    text-decoration: none;
    color:black;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
}

.items a:hover {
    background-color: #cabd8a;
}

.picture img {
    width: 99vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: -1;
}

body {
    overflow-x:hidden;
}

@media screen and (max-width: 767px) {
    body {
        background-color: black;
        width: 100vw;
    }
    .picture img {
        height: 50vh;
    }

    .box h2 {
        font-size: 40px !important;
        width: 100%;
    }

    .box h1 {
        font-size: 20px !important;
        width: 80%;
    }
}