.box h3 {
    font-size: 3.2rem !important;
}

.box h5 {
    font-size: 2rem !important;
    width: 50%;
}

.information {
    padding: 100px;
    width: 60%;
    margin-left: 20%;
}

.date {
    font-style: italic;
}

.author {
    font-size: 1.6rem;
}

.title {
    margin-bottom: 20px;
}

.information h6 {
    font-size: 1.6rem;
    margin: 15px 0;
}

.information h6::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"; /* Four non-breaking spaces */
    display: inline-block;
}