.mission {
    padding: 100px;
    text-align: left;
}

.mission h1 {
    font-size: 4rem;
    margin-bottom: 50px;
    text-align: center;
}

.mission h5, .mission h6 {
    padding-left: 0;
    margin-bottom: 25px;
    font-size: 2rem;
}

.mission h6 {
    text-align: right;
    margin-top: 50px;
    margin-right: 150px;
}

.mission h5::before {
    content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0"; /* Four non-breaking spaces */
    display: inline-block;
}

.mission img {
    float: right;
    padding: 0 0 50px 50px;
    width: 40%;
}

@media screen and (max-width: 767px) { 
    .mission {
        padding: 25px 0;
    }

    .mission h1 {
        font-size: 2rem;
        margin-bottom: 10px;
    }

    .mission h5 {
        font-size: 1.3rem;
        padding-bottom: 25px;
    }
}