.section a {
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    background-color: #fdeba2;
    margin: 20px;
    width: 30%;
    display: inline-block;
    border-radius: 50px;
}

.section {
    padding: 100px;
    text-align: center;
}

.section h1 {
    font-size: 3em;
}

.section1 {
    background-color: white;
}

.section2 {
    background-color: #4b70ad;
}

.section3 {
    background-color: #29395b;
}

.section4 {
    background-color: rgb(20, 33, 55);
}

@media screen and (max-width: 767px) { 
    .section {
        padding: 15px;
    }
}