.qualifications, .information {
    color: white;
    padding: 100px;
}

.informationText {
    width: 60%;
    margin-left: 20%;
}

.qualifications h1, .information h1, .volunteerInformation h1 {
    font-size: 3rem;
}

.qualificationText {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 50px;
}

.qualificationText h1 {
    margin-bottom: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
}

.requirements h4{
    text-align: left;
    margin-left: 50px;
}

.requirements h2 {
    background-color: #4b70ad;
    padding: 10px;
    margin-bottom: 25px;
}

.volunteerInformation {
    padding: 100px;
    padding-bottom: 100px;
}

button.dropdown-toggle {
    margin-top:25px;
    font-size: 2rem;
    width: 80%;
    border: none;
    padding: 10px;
    background-color: #a0a0a0;
    border-radius: 50px 50px 0 0;
}

.regionDropdownRegion {
    width: 80% !important;
}

.regionDropdownRegion a {
    font-size: 1.5rem;
}

.regionBlob {
    padding: 0 100px 100px;
    width: 80%;
    margin-left: 10%;
}

.regionBlob h6 {
    font-size: 1.5rem;
}

.applicationForm, .rd a {
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    background-color: #fdeba2;
    margin: 20px;
    width: 30%;
    display: inline-block;
    border-radius: 50px;
}

.volunteerText input {
    outline: none;
    font-size: 1.5rem;
    width: 100%;
    padding-left: 10px;
    margin-top: 50px;
}

.inputThings {
    width: 60%;
    margin-left: 20%;
    position: relative;
    margin-bottom: 30px;
}

.regionOptions {
    position: absolute;
    background-color: white;
    border: 1px black solid;
    width: 100%;
    list-style-type: none;
    font-size: 1.3rem;
    text-align: left;
    padding: 10px;
    display: none;
}

.regionOptions span {
    color: blue;
}

.regionBlob {
    display: none;
}

.title {
    font-weight: bold;
}

.regionOptions li {
    display: block;
}

.regionOptions li:hover {
    background-color: #dfdfdf;
    cursor: pointer;
}

.extraSpace {
    padding: 100px;
}

.rd {
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    display: none;
}

.rd a {
    background-color: #ad00b3 !important;
}

@media screen and (max-width: 767px) { 
    .information, .qualifications, .volunteerInformation {
        padding: 30px 15px !important;
    }

    .informationText {
        margin-left: 10%;
        width: 80%;
    }

    .qualificationText {
        display: block;
    }
    
    .requirements {
        margin-bottom: 50px;
    }

    .inputThings {
        width: 80%;
        margin-left: 10%;
    }

    .inputThings input {
        border: 1px solid gray;
    }

    .regionBlob {
        padding: 0;
        margin: 0 !important;
    }

    .regionBlob h1 {
        text-align: left;
    }


    .regionBlob h6 {
        text-align: left;
    }

    .regionBlob a, .rd a {
        width: 60%;
    }
}