.img-wide {
    max-height: 300px;
    overflow:hidden;
    filter: blur(5px);
}

.picture {
    position: relative;
}

.pictext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 5vw;
    color: white;
    padding: 1vw;
    background-color: rgba(0,0,0, .4);
    border: white 3px solid;
}

.quote {
    margin: 15px auto;
    background-color: blanchedalmond;
    padding: 1%;
}

.img {
    width: 100%;
    height: 100%;
}

.quote h5 {
    color: #25a242;
}

.quotes {
    background-color: white;
    color: black;
    padding-bottom: 15px;
}

.persons {
    padding: 2% 2%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.pfp {
  object-fit: cover;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  margin: 0 auto;
}

.person h5 {
    font-size: 1.5vw;
}

.person h6 {
    font-size: 1.3vw;
    font-family: "Courgette";
}

.person:hover {
    cursor: pointer;
}

.modal-body {
    padding: 2% 2%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

.blog {
    padding: 5% 0;
}

.fact {
    grid-row: span 2;
    grid-column: span 2;
    color: black;
}

.why-it-works {
    margin: 0 auto 100px auto;
    font-size: 1.2vw;
}

.bod {
    background-color: #29395b;
    color:white;
}

.last {
    margin-bottom: 0;
}

.gallery {
    padding: 40px 80px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    background-color: #29395b;
}

@media only screen and (max-width: 1000px) { 
    .pictext {display: none;}
    .phonetext {display: block;}
}

@media only screen and (min-width: 1000px) { 
    .pictext {display: block;}
    .phonetext {display: none;}
}
