.footer-grid {
    padding: 40px 80px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: none;
    color: gray;
}