.welcome {
    padding: 75px 0;
    background-color: white;
}

.welcome h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #29395b;
}

.welcome h4 {
    font-size: 1.6em;
    width: 80%;
    margin-left: 10%;
}

.programs {
    padding: 40px 80px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
    background-color: #29395b;
}


.program {
    background-color: white;
}

.program h1 {
    font-size: 4em;
    font-family: "kanit";
}

.picture img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: -1;
}

.works {
    background-color: #29395b;
    color: white;
    padding: 5%;
}

.works h1 {
    margin: 0;
}

.worksbox {
    width: 80%;
    border: #ffffff 2px solid;
    margin-left: 10%;
    padding: 5% 3%
}

.learn-more {
    display: block;
    background-color: #29395b;
    color: white;
    padding: 2% 4%;
    font-size: 1.9em;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    text-decoration: none;
}

.program h4 {
    font-size: 1.5em;
    font-family: "Lato";
    padding: 5%;

}

.picture {
    position: relative;
}

.picture .box {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    min-width: 70vw;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: normal;
    flex-direction: column;
}

.buttons {
    margin-top: 20px;
}

.buttons a {
    margin: 0 25px;
    text-align: center;
    border-radius: 20px;
    padding: 0 50px;
    font-size: 1.9em;
    color: white;
    text-decoration: none;
    background-color: #4b70ad;
    transition: all 0.2s;
}

.buttons a:hover {
    background-color: #243a5e;
}

.box h1 {
    text-align: center;
    font-size: 3em;
}

.emoji {
    font-size: 2vw;
    display: inline;
}

.welcome-text-container {
    width: 100%;
    text-align: center;
}

.welcome-link, .team-link, .music-link {
    text-decoration: none;
    color:black;
    font-size: 1.5em;
    background-color: #fdeba2;
    margin: 20px;
    width: 30%;
    display: inline-block;
    border-radius: 50px;
}

.img-small {
    display: none;
}

.program h1 {
    font-family: 'Ubuntu', sans-serif;
}

.box h2 {
    font-size: 5em;
}

.team, .music {
    background-color: #4b70ad;
    padding: 100px;
    color: white;
    text-align: center;
}

.team h1, .music h1 {
    font-size: 3em;
}

.small-width {
    width: 60% !important;
    margin-left: 20% !important;
}

.music {
    background-color: #29395b !important;
}

.music h4 {
    margin: 20px 0;
}

@media only screen and (max-width: 1000px) {
    .programs {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 1000px) {
    .img-small {
        display: block;
    }

    .img-wide {
        display: none;
    }

    .picture .box {
        height: 40%;
        width: 50%;
        padding: 30%;
        left: 50%;
    }

    .box h1 {
        font-size: 6vw;
    }

    .worksbox {
        border: none;
    }

    .emoji {
        font-size: 7vw;
    }
}

@media only screen and (min-width: 1000px) {
    .img-small {
        display: none;
    }

    .img-wide {
        display: block;
    }

    .picture .box {
        height: 60%;
        width: 30%;
    }
}

@media only screen and (max-width: 1674px) {
    .buttons a {
        display: block;
        margin: 20px 0px;
    }
}