head, body {
    font-family: "kanit";
}

.nav-link {
    padding: 0 30px;
}

.nav-link {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-header {
    font-size: 1.8vw;
}

.nav-item {
    margin: 20px 8px;
}

.navbar-brand {
    margin-left: 15px;
}

.navbar {
    color: #29395b;
}

.navbar-collapse {
    margin-right: 15px;
}

.spacer {
    background-color: #e2b07d;
    height: 100px;
}

.page-header {
    background-color: #01033e;
    padding: 2%;
    color: white;
}

.page-header h1 {
    font-size: 3em;
}

@media only screen and (max-width: 1300px) { 
    .nav-header {display: none;}
}