body {
    max-width: 99vw !important;
    overflow-x:hidden;
}

.items {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
}

.items a {
    font-size: 1.5em;
    background-color: #fdeba2;
    text-decoration: none;
    color:black;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 50px;
}

.items a:hover {
    background-color: #cabd8a;
}

.person {
    box-shadow: none !important;
    padding-top: 20px !important;
}

.image {
    border-radius: 20px;
}

.pfp {
    margin-bottom: 20px !important;
}

.persons {
    margin-bottom: 0 !important;
    margin:  0 50px !important;
    column-gap: 75px !important;
    color: white !important;
}

.ourteam {
    color:white;
}